/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: flatfont;
    src: url(assets/JF-Flat-Regular.ttf)
}
body {
    font-family: 'flatfont';
}